.header {
  background: #151515 url("../images/img-mission-background.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
 
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: 'lora-regular', serif;
}

.header .social {
  bottom: 50px;
}

.location {
  background: #151515 url("../images/img-locations-background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.card {
  opacity: 0.9;
}


@media (max-width: 967px) {
  .center-screen {
    justify-content: center;
    display: none;
  }
}